<div class="mb-8 shadow-lg p-4 lg:p-2">
    <div class="container flex items-center justify-between py-4">
        <a href="#" class="text-5xl font-thin">Recipe Book</a>
        <ul class="flex-center uppercase font-bold gap-4">
            <li>
                <a
                    routerLink="/recipes"
                    routerLinkActive="text-teal-800 border-b-2 border-teal-800 p-2"
                    >Recipes</a
                >
            </li>
            <li>
                <a
                    routerLink="/shopping-list"
                    routerLinkActive="text-teal-800 border-b-2 border-teal-800 p-2"
                    >Shopping List</a
                >
            </li>
        </ul>
        <ul>
            <li><a href="#">Dropdown</a></li>
        </ul>
    </div>
</div>
