<div
    class="grid grid-cols-1 gap-8 mx-auto"
    [class]="{ 'lg:grid-cols-2': show, 'max-w-lg': !show }"
>
    <div class="flex flex-col gap-4">
        <button
            (click)="toggleShow(item)"
            *ngFor="let item of ingredients"
            class="flex items-center justify-between rounded-md border border-dashed border-slate-300 p-2"
        >
            <span>
                {{ item.name }}
            </span>
            <span> ({{ item.amount }}) </span>
        </button>
    </div>
    <app-shopping-edit *ngIf="show">
        <div class="p-8 bg-slate-300">

            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <app-button>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                Click me!
            </app-button>
        </div>
    </app-shopping-edit>
</div>