<div
    class="my-8 flex flex-col items-start justify-start space-y-8 border-t-2 border-b-2 border-dashed border-slate-500 p-8"
>
    <input
        type="text"
        [(ngModel)]="new_server"
        class="px-4- rounded-md border border-slate-200 py-2 text-xl leading-tight"
    />
    <button type="button" (click)="addServer()">+Add</button>
    <div
        class="flex w-full flex-col bg-slate-100 p-8"
        *ngIf="servers.length > 0; else noServers"
    >
        <p
            *ngFor="let item of servers"
            class="flex items-center justify-between"
        >
            <span>
                {{ item }}
            </span>
            <button
                type="button"
                class="text-xl font-bold"
                (click)="removeServer(item)"
            >
                X
            </button>
        </p>
    </div>
    <ng-template #noServers>
        <p>
            No servers
        </p>
    </ng-template>
</div>
