<div class="container p-8">
    <h1 class="mb-4 text-4xl font-normal leading-tight">{{ title }}</h1>
    <p class="mb-4 text-lg">
        Hello Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto
        maiores ratione iste possimus quae suscipit, minus reprehenderit
        numquam, dolor ad quisquam eius, corporis nemo assumenda dignissimos
        esse aperiam ullam odit! Id magnam architecto ipsam repudiandae
        delectus. Architecto soluta quidem numquam nostrum dignissimos dolores
        officia alias delectus iusto. Libero delectus doloribus dolores pariatur
        aspernatur aperiam, quam tempore, omnis, ex aut natus temporibus rerum
        exercitationem laborum saepe! Placeat hic dolore nesciunt eligendi
        repellat tenetur, fugiat voluptatem doloremque esse praesentium
        obcaecati libero alias odit. Natus unde quasi est harum libero sapiente
        necessitatibus aperiam, earum illo optio sit officiis reprehenderit
        magnam magni in cum.
    </p>
    <input type="text" name="" id="" [(ngModel)]="title" />
    <app-server></app-server>
    <app-servers></app-servers>
</div>
