<div class="mx-auto flex max-w-3xl flex-col items-center space-y-8">
    <button type="button" (click)="toogleStyle()">Click</button>
    <div>
        <p *ngIf="style">TRUE</p>
        <p *ngIf="!style">FALSE</p>
    </div>

    <div>
        <p *appUnless="style">Style is not true</p>
    </div>

    <p
        class="text-xl leading-relaxed"
        [ngClass]="{ 'text-2xl': style }"
        [ngStyle]="{ backgroundColor: style ? '#ff00ff' : '#ffff00' }"
    >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tempora
        delectus perferendis provident nulla odio modi dolor nam nemo
        aspernatur!
    </p>
    <div [ngSwitch]="switchValue">
        <p *ngSwitchCase="5">
            5- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
            consequatur praesentium cupiditate?
        </p>
        <p *ngSwitchCase="10">
            10 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
            consequatur praesentium cupiditate?
        </p>
        <p *ngSwitchDefault>
            default - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
            consequatur praesentium cupiditate?
        </p>
    </div>
    <p [appHighlight]="'green'" defaultColor="gray">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum magnam
        voluptates itaque? Quidem amet vitae vero quia nemo quisquam, dolore
        culpa impedit dolor quis quas. A deserunt vero labore debitis
        architecto, ut laborum non quaerat culpa, dolor error illo amet sapiente
        aspernatur vel quia fugiat dolore voluptates blanditiis? Blanditiis
        voluptates, assumenda laborum fugit expedita dolorum sequi dignissimos
        eaque beatae totam. Perferendis excepturi pariatur nemo deserunt
        doloremque laboriosam a labore ratione corrupti vero saepe
        necessitatibus aliquid reiciendis eligendi praesentium incidunt ut
        asperiores rerum nihil, placeat odio voluptatibus!
    </p>
</div>
